@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sli {
  height: 2000px;
}

.main_cover {
  overflow: hidden;
  .top_main_img1,
  .top_main_img2,
  .top_main_img3 {
    transition: all 3s;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .top_main_img1 {
    background-image: url('../../public/images/main_slider_1.jpg');
  }
  .top_main_img2 {
    background-image: url('../../public/images/main_slider_2.jpg');
  }
  .top_main_img3 {
    background-image: url('../../public/images/main_slider_3.jpg');
  }
}

.main_about {
  opacity: 1;
  height: 600px;
  position: relative;
  margin: 70px 20px;
  display: flex;
  img {
    opacity: 0;
    width: 400px;
    transform: translateY(50px);
  }
  .main_about_content {
    opacity: 0;
    padding-top: 90px;
    padding-left: 130px;
    transform: translateY(50px);

    h3 {
      padding: 20px 0;
      font-size: 20px;
    }
    h4 {
      font-size: 26px;
    }
    p {
      font-size: 17px;
      padding: 40px 0;
    }
  }
}

.main_slide {
  height: 600px;
  position: relative;
  img {
    position: absolute;
    transform: translateY(50px);
    opacity: 0;
  }
  .slide_img1 {
    top: 100px;
    left: -100px;
    width: 450px;
  }
  .slide_img2 {
    bottom: 50px;
    left: 400px;
    width: 350px;
  }
  .slide_img3 {
    top: 40px;
    left: 550px;
    width: 300px;
  }
  .slide_img4 {
    top: 250px;
    right: -100px;
    width: 300px;
  }
}

.natural_perfume {
  color: #666;
  opacity: 0;
  transform: translateY(50px);
  margin-bottom: 150px;
  h4 {
    @include flexCenter();
    font-size: 17px;
  }
  h3 {
    @include flexCenter();
    font-size: 60px;
  }
  p {
    @include flexCenter();
    font-size: 20px;
    margin-bottom: 50px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 40px;
    }
  }
}
.rest_perfume {
  color: #666;
  opacity: 0;
  transform: translateY(50px);
  margin-bottom: 150px;
  h4 {
    @include flexCenter();
    font-size: 17px;
  }
  h3 {
    @include flexCenter();
    font-size: 60px;
  }
  p {
    @include flexCenter();
    font-size: 20px;
    margin-bottom: 50px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 40px;
    }
  }
}
