$mobilewidth: 748px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sli {
  height: 2000px;
}

.page_loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  opacity: 1;
  transition: all 1s;
  visibility: visible;
  h3,
  h4 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: #964b00;
  }
  h3 {
    font-size: 50px;
    font-weight: 700;
    top: 40%;
  }
  h4 {
    font-size: 30px;
    top: 55%;
  }
}

.main_cover {
  position: relative;
  overflow: hidden;
  .top_main_img1,
  .top_main_img2,
  .top_main_img3 {
    transition: all 3s;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .top_main_img1 {
    background-image: url('../../public/images/main_slider_1.jpg');
  }
  .top_main_img2 {
    background-image: url('../../public/images/main_slider_2.jpg');
  }
  .top_main_img3 {
    background-image: url('../../public/images/main_slider_3.jpg');
  }

  h3,
  h4 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: #eee;
  }
  h3 {
    font-size: 50px;
    font-weight: 700;
    top: 40%;
  }
  h4 {
    font-size: 30px;
    top: 55%;
  }
}

.main_about {
  opacity: 1;
  height: 600px;
  position: relative;
  margin: 70px 20px;
  display: flex;
  img {
    opacity: 0;
    width: 400px;
    transform: translateY(50px);
  }
  .main_about_content {
    opacity: 0;
    padding-top: 90px;
    padding-left: 130px;
    transform: translateY(50px);

    h3 {
      padding: 20px 0;
      font-size: 20px;
    }
    h4 {
      font-size: 26px;
    }
    p {
      font-size: 17px;
      padding: 40px 0;
    }
  }
}

.main_slide {
  height: 600px;
  position: relative;
  img {
    position: absolute;
    transform: translateY(50px);
    opacity: 0;
  }
  .slide_img1 {
    top: 100px;
    left: -100px;
    width: 450px;
  }
  .slide_img2 {
    bottom: 50px;
    left: 400px;
    width: 350px;
  }
  .slide_img3 {
    top: 40px;
    left: 550px;
    width: 300px;
  }
  .slide_img4 {
    top: 250px;
    right: -100px;
    width: 300px;
  }
}

.natural_perfume,
.rest_perfume,
.rest_perfume2 {
  color: #666;
  opacity: 0;
  transform: translateY(50px);
  margin-bottom: 150px;
  h4 {
    @include flexCenter();
    font-size: 17px;
  }
  h3 {
    @include flexCenter();
    font-size: 60px;
  }
  p {
    @include flexCenter();
    font-size: 20px;
    margin-bottom: 50px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 40px;
    }
  }
}
.rest_perfume {
  margin-bottom: 100px;
}

@media screen and (max-width: $mobilewidth) {
  .main_about {
    opacity: 1;
    height: 600px;
    position: relative;
    display: flex;
    margin-left: -35px;
    img {
      opacity: 0;
      width: 400px;
      transform: translateY(50px);
      display: none;
    }
    .main_about_content {
      opacity: 0;
      padding-top: 90px;
      transform: translateY(50px);
      text-align: left;
      h3 {
        padding: 20px 0;
        font-size: 20px;
      }
      h4 {
        font-size: 26px;
      }
      p {
        font-size: 16px;
        padding: 40px 0;
      }
    }
    .btn_wrap {
    }
  }

  .main_slide {
    display: none;
  }

  .natural_perfume,
  .rest_perfume,
  .rest_perfume2 {
    color: #666;
    opacity: 0;
    transform: translateY(50px);
    margin-bottom: 50px;
    h4,
    h3,
    p {
      display: block;
      left: 0;
      margin-left: 100px;
    }
    h4 {
      font-size: 17px;
    }
    h3 {
      font-size: 60px;
    }
    p {
      font-size: 20px;

      margin-top: 20px;
      margin-bottom: 50px;
    }
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      li {
        margin: 50px 40px;
      }
    }
  }
  .rest_perfume {
    margin-bottom: 100px;
  }
}
